.section-1
  $p: 75px
  background-image: url('../../img/main-bg.jpg')
  background-repeat: no-repeat
  background-position: center center
  background-size: cover
  flex-grow: 1
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  padding: $p 0
  //padding-bottom: $p + 25px
  position: relative
  overflow: hidden

  //&:before
  //  content: ''
  //  position: absolute
  //  bottom: 0
  //  left: 0
  //  border-left:  50vw solid #fff
  //  border-right: 50vw solid #fff
  //  border-top:   70px solid transparent

.section-1__texts
  text-align: right

.section-1-texts__text-1
  text-align: center
  font-size: 4rem
  font-weight: bold
  color: $white-1
  line-height: 1.2
.section-1-texts__text-2
  text-align: right
  font-weight: normal
  font-size: 1.15rem
  display: inline-block
  background: $color-1
  margin-right: auto
  color: $white-1
  padding: 3px 5px

.section-1-desc
  max-width: 920px
  margin: auto
  color: darken($white-1, 35%)
  font-style: italic
  font-size: 1rem
  text-align: center
  margin-top: 65px
  line-height: 1.5

.section-1__btns
  margin-top: 65px
  text-align: center

.section-1__menu .menu-icon
  width:  40px
  height: 40px
  cursor: pointer

.menu-icon g
  fill: $white-1
.section-1__menu
  margin-bottom: 100px


.section-1__scroll
  position: absolute
  bottom: 20px

.section-1__scroll #scroll
  width:  100px
  height: 100px



#scroll .st0
  fill: none
  stroke: $white-1
  stroke-width: 12
  stroke-linecap: round
  stroke-linejoin: round
  stroke-miterlimit: 10

#scroll .st1
  fill: none
  stroke: $white-1
  stroke-width: 12
  stroke-miterlimit: 10

.section-1-btns__btn
  +nlt
    margin-right: 20px
  .fa
    margin-right: 10px


.section-1-social
  display: flex
  margin-top: 65px
  a
    color: $color-2
    text-decoration: none
    width:  35px
    height: 35px
    background: $black-1
    line-height: 25px
    display: flex
    align-items: center
    justify-content: center
    border-radius: 50%
    +nlt
      margin-right: 15px
      +transition
    &:hover
      color: $color-1


