.section_price
  background: $gray


.course-thumb-block
  +white-block
  +br
  overflow: hidden
  position: relative

.course-thumb-block__price
  position: absolute
  top: 0
  right: 0
  padding: 7px 50px
  background: $color-1
  font-weight: bold
  color: $white-1
  font-size: 0.875rem
  transform: translate(calc(50% - 35px), calc(-50% + 35px)) rotate(45deg)


.course-thumb-block-header
  background-image: url('../../img/main-bg.jpg')
  background-repeat: no-repeat
  background-position: center center
  background-size: cover
  padding: 40px
  text-align: center

.course-thumb-block-header__title
  color: $color-1
  font-weight: bold
  font-size: 1.5rem
  margin-bottom: 20px
.course-thumb-block-header-info__item
  color: $white-1
  font-style: italic
  font-size: 1rem
  +nlt
    margin-bottom: 7px

.course-thumb-block-content
  padding: 25px
.course-thumb-block-content__title
  color: $black-1
  font-weight: bold
  font-size: 1.125rem
  text-align: center
  margin-bottom: 16px
.course-thumb-block-content__text
  color: $black-1
  font-size: .9em
  line-height: 1.5

.course-thumb__btn
  margin-top: 20px
  text-align: center


.course-thumbs
  display: flex
.course-thumbs__item
  width: 50%
.course-thumbs__item:nth-child(1)
  margin-right: 25px
.course-thumbs__item:nth-child(2)
  margin-left: 25px






.course-clock-wrapper
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column

#course-clock
  width: auto

.course-clock-wrapper__title
  font-size: 1.35rem
  margin-bottom: 20px
  color: $black-1


.course-clock-wrapper

  .flip-clock-divider .flip-clock-label
    +font1
    color: $color-1
    font-size: .8rem
    font-weight: bold
  .flip-clock-wrapper .flip
    box-shadow: none
  .flip-clock-wrapper ul li a div div.inn
    text-shadow: none
    background-color: $black-1
    color: $color-1
    font-size: 3rem
    +font2

.course-thumb-block__price_sale
  font-size: 0.65rem
  font-weight: normal
  text-align: left
  text-decoration: line-through
  color: darken($color-1, 30%)

