.section-1
  background-image: url('../../img/main-bg.jpg')
  background-repeat: no-repeat
  background-position: center center
  background-size: cover
  width: 100%
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  position: relative

.section-1__texts
  text-align: right

.section-1-texts__text-1
  text-align: center
  font-size: 5rem
  font-weight: bold
  color: $color-1
.section-1-texts__text-2
  text-align: right
  font-size: 1.25rem
  display: inline-block
  background: $black-1
  margin-right: auto
  color: $white-1
  padding: 3px 5px
  margin-top: 5px
  +br()

.section-1-btns__btn-1
  margin-right: 15px

.section-1__btns
  margin-top: 80px

.section-1__menu .menu-icon
  width:  40px
  height: 40px
  cursor: pointer

.menu-icon g
  fill: $white-1
.section-1__menu
  margin-bottom: 100px


.section-1__scroll
  position: absolute
  bottom: 20px

.section-1__scroll #scroll
  width:  100px
  height: 100px



#scroll .st0
  fill: none
  stroke: $white-1
  stroke-width: 12
  stroke-linecap: round
  stroke-linejoin: round
  stroke-miterlimit: 10

#scroll .st1
  fill: none
  stroke: $white-1
  stroke-width: 12
  stroke-miterlimit: 10