

.section-1__texts
  text-align: right

.section-1-texts__text-1
  text-align: center
  font-size: 5rem
  font-weight: bold
  color: $white-1
  line-height: 1.2
.section-1-texts__text-2
  text-align: right
  font-size: 1.1rem
  display: inline-block
  background: $black-1
  margin-right: auto
  color: $white-1
  padding: 3px 5px
  +br()



.section-1__btns
  margin-top: 80px
  text-align: center

.section-1__menu .menu-icon
  width:  40px
  height: 40px
  cursor: pointer

.menu-icon g
  fill: $white-1
.section-1__menu
  margin-bottom: 100px


.section-1__scroll
  position: absolute
  bottom: 20px

.section-1__scroll #scroll
  width:  100px
  height: 100px



#scroll .st0
  fill: none
  stroke: $white-1
  stroke-width: 12
  stroke-linecap: round
  stroke-linejoin: round
  stroke-miterlimit: 10

#scroll .st1
  fill: none
  stroke: $white-1
  stroke-width: 12
  stroke-miterlimit: 10

.section-1-btns__btn
  +nlt
    margin-right: 20px
  .fa
    margin-right: 10px

