.section_price
  background: $gray


.course-thumb-block
  +white-block
  +br
  overflow: hidden
  position: relative

.course-thumb-block__price
  position: absolute
  top: 0
  right: 0
  padding: 7px 50px
  background: $color-1
  font-weight: bold
  color: $white-1
  font-size: 0.875rem
  transform: translate(calc(50% - 35px), calc(-50% + 35px)) rotate(45deg)


.course-thumb-block-header
  background-image: url('../../img/main-bg.jpg')
  background-repeat: no-repeat
  background-position: center center
  background-size: cover
  padding: 40px
  text-align: center

.course-thumb-block-header__title
  color: $color-1
  font-weight: bold
  font-size: 1.5rem
  margin-bottom: 20px
.course-thumb-block-header-info__item
  color: $white-1
  font-style: italic
  font-size: 1rem
  +nlt
    margin-bottom: 7px

.course-thumb-block-content
  padding: 25px
.course-thumb-block-content__title
  color: $black-1
  font-weight: bold
  font-size: 1.125rem
  text-align: center
  margin-bottom: 16px
.course-thumb-block-content__text
  color: $black-1
  font-size: .9em
  line-height: 1.5

.course-thumb__btn
  margin-top: 20px
  text-align: center


.course-thumbs
  display: flex
  margin: auto
  max-width: 800px
.course-thumbs__item
  width: 100%







.course-clock-wrapper
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column

#course-clock
  width: auto

.course-clock-wrapper__title
  font-size: 1.35rem
  margin-bottom: 20px
  color: $black-1


.course-clock-wrapper

  .flip-clock-divider .flip-clock-label
    +font1
    color: $color-1
    font-size: .8rem
    font-weight: bold
  .flip-clock-wrapper .flip
    box-shadow: none
  .flip-clock-wrapper ul li a div div.inn
    text-shadow: none
    background-color: $black-1
    color: $color-1
    font-size: 3rem
    +font2

.course-thumb-block__price_sale
  font-size: 0.65rem
  font-weight: normal
  text-align: left
  text-decoration: line-through
  color: darken($color-1, 30%)





.course-wrapper
  width: 800px
  margin: auto
.course
  +br()
  display: flex
  position: relative
  overflow: hidden

.course__left-helper
  background: $gray
  width: 75%

.course__right-helper
  position: relative
  flex-grow: 1
  display: flex
  align-items: center
  justify-content: center
  &:before
    z-index: 0
    content: ''
    display: block
    transform: skewX(-35deg)
    height: 100%
    background: $color-1
    width: 200%
    left: 0
    transform-origin: 0 0
    position: absolute


.course-price
  position: relative
  z-index: 1
  text-align: center
  left: -20px

.course-price__old-price
  color: rgba($black-1, .8)
  font-size: 1.125rem
  text-decoration: line-through
.course-price__new-price
  color: rgba($black-1, .8)
  font-size: 2.25rem
  font-weight: bold
.course-info
  padding: 50px
.course-info__title
  font-size: 1.5rem
  font-weight: bold
  color: $black-1
  
.course-info__time
  margin-top: 5px
  color: $gray-text
  font-size: .8rem
  font-weight: bold
  small
    font-size: .65rem
    font-weight: normal

.course-info__detail
  margin-left: 20px

.course-detail
  margin-top: 20px
.course-detail-item
  display: flex
  align-items: center
  +nlt
    margin-bottom: 6px

.course-detail-item__icon
  margin-right: 10px
  svg
    width:  20px
    height: 20px
    margin: 0
    padding: 0
.course-detail-item__text
  color: $black-1
  font-size: 1rem