.buy-course
  padding: 25px
  padding-top: 0
  margin-top: -25px
.course-thumb_buy
  width: 600px
  margin: auto

.main-center
  padding: 50px 0


.buy-course-title
  color: $black-1
  text-align: center
  .active
    font-weight: bold
    color: $color-1


.buy-course-reg-method-btn
  text-align: center

  color: $color-1

  span
    color: $black-1
  .active
    color: $color-1
    font-weight: bold


.buy-course-top
  font-size: 1rem
  display: flex
  align-items: center
  justify-content: space-between
  padding: 25px 0
