.buy-course
  padding: 25px
  padding-top: 0
  margin-top: -25px
.course-thumb_buy
  width: 650px
  margin: auto

.course-thumb-title-top
  text-align: center
  width: 650px
  margin: auto
  margin-bottom: 10px
  font-size: 1.7rem
  line-height: 1.3

  color: $black-1


.main-center
  padding: 50px 0


.buy-course-title
  color: darken($gray, 30%)
  text-align: center
  .active
    font-weight: bold
    color: $black-1


.buy-course-reg-method-btn
  text-align: center
  color: darken($gray, 30%)
  cursor: pointer
  span
    color: darken($gray, 30%)
    &:hover
      color: $black-1
  .active
    color: $black-1
    font-weight: bold
  .fa
    display: inline-block
    margin-right: 2px
  .devider
    display: inline-block
    padding: 0 10px
.buy-course-top
  font-size: 1rem
  display: flex
  align-items: center
  justify-content: space-between
  padding: 25px 0




.qwqwgewg
  font-size: 3rem
  color: $color-1