.form_login
  width: 500px
  background: rgba($black-1, .8)
  padding: 30px
  position: relative
  +br()

.form__title
  text-align: center
  text-transform: uppercase
  color: $white-1
  font-size: 2rem
  margin-bottom: 30px

.form-table__row
  display: flex
  align-items: center
  +nlt
    margin-bottom: 25px

.form-table__col_label
  margin-right: 20px
  width:     80px
  min-width: 80px
  label
    font-size: 1rem
    color: $white-1
    cursor: pointer
    &.required
      &:after
        content: ' *'
        display: inline
        font-size: .7rem
        vertical-align: top
        color: $color-1
.form-table__col_input
  flex-grow: 1



input[type="text"],
input[type="password"]
  padding: 10px
  background: #fff
  font-size: 1rem
  +br()
  display: block
  width: 100%
  border: 2px solid transparent
  outline: none
  color: $color-1
  &:focus
    border: 2px solid $color-1
    color: $black-1

.input-error
  position: relative
  input
    border: 2px solid $color-error
    color: $color-error

.error-text
  position: absolute
  right: 0
  font-size: .65rem
  color: $color-error

.form-table__col_input:not(.input-error) .error-text
  display: none

.form-submit-block
  +flex-center-space-between
.form-submit-block_right
  justify-content: flex-end

input[type="checkbox"] + label
  display: flex
  align-items: center
  position: relative
  color: $white-1
  font-size: .9rem
  cursor: pointer

input[type="checkbox"]:not(:checked) + label:before
  content: "\f10c"
  margin-right: 10px
  color: $color-1
  font: normal normal normal 14px/1 FontAwesome
input[type="checkbox"]
  display: none
  &:checked + label:before
    margin-right: 10px
    content: "\f111"
    font: normal normal normal 14px/1 FontAwesome
    color: $color-1
  //&:checked + label
  //  color: $color-1

.form-under-submit-block
  display: flex
  justify-content: center
.form-under-submit-block__item
  margin-top: 15px
  a
    color: $color-1
    font-size: .9rem
    &:hover
      text-decoration: none
  +nlt
    margin-right: 30px

.form__common-error
  position: relative
  top: -30px
  color: $color-error
  text-align: center
  height: 0
  font-size: .75rem


.agree-text
  margin-top: 15px
  font-size: .75rem
  color: lighten($black-1, 40%)
  display: block
  text-align: right
  a
    color: lighten($black-1, 40%)
    opacity: .6










.form.pending
  position: relative
  transition: all 0.1s ease
  & > *:not(.pending-block)
    opacity: 0.1
.pending-block
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: flex
  align-items: center
  justify-content: center
  z-index: 5

    
.cssload-speeding-wheel
  width: 49px
  height: 49px
  margin: 0 auto
  border: 3px solid $color-1
  border-radius: 50%
  border-left-color: transparent
  border-right-color: transparent
  animation: cssload-spin 575ms infinite linear

@keyframes cssload-spin
  100%
    transform: rotate(360deg)


@-o-keyframes cssload-spin
  100%
    -o-transform: rotate(360deg)
    transform: rotate(360deg)


@-ms-keyframes cssload-spin
  100%
    -ms-transform: rotate(360deg)
    transform: rotate(360deg)


@-webkit-keyframes cssload-spin
  100%
    -webkit-transform: rotate(360deg)
    transform: rotate(360deg)


@-moz-keyframes cssload-spin
  100%
    -moz-transform: rotate(360deg)
    transform: rotate(360deg)



.form_login_white
  width: 100%
  background: transparent
  padding: 0
  .form__title
    color: $black-1
  .form-table__col_label label
    color: $black-1

  input[type="text"], input[type="password"]
    background: $gray