.user-h1
  font-size: 2rem
  font-weight: lighter
  text-align: right
  padding: 30px 0


.course-thumb-block-content_padding0
  padding: 0
  .course-thumb-block-content__title
    margin-top: 25px
.course-thumb-block-content__text_padding
  padding: 25px

.user-course-lessons
  display: flex
  justify-content: space-between
  align-items: center
  position: relative
  padding: 0 25px
  margin-top: 15px
  &:before
    position: absolute
    content: ''
    left: -25px
    z-index: 0
    width: calc(100% + 50px)
    display: block
    height: 4px
    background: $gray

.user-course-lessons__item

  $radius: 45px
  z-index: 1
  position: relative
  width: $radius
  height: $radius
  border-radius: 50%
  border: darken($gray, 5%) 4px solid
  background: $color-1
  text-align: center
  font-weight: bold
  font-size: 1.2rem
  color: $white-1
  display: flex
  align-items: center
  justify-content: center
  transition: all 0.1s ease
  &.active
    border: $color-1 4px solid
  &:not(.active)
    cursor: pointer
    &:hover
      border: $color-1 4px solid


.user-course-lessons-current
  background: $black-1
  position: absolute
  color: $white-1
  line-height: 1
  font-size: .7rem
  font-weight: normal
  padding: 10px
  +br()
  white-space: nowrap
  top: -45px
  &:after
    $w: 5px
    content: ''
    position: absolute
    top: 100%
    left: 50%
    margin-left: -$w
    width: 0
    height: 0
    border-top: solid $w $black-1
    border-left: solid $w transparent
    border-right: solid $w transparent

.user-course-lessons-old
  background: $gray
  position: absolute
  color: darken($gray, 50%)
  line-height: 1
  font-size: .7rem
  font-weight: normal
  padding: 10px
  +br()
  white-space: nowrap
  top: -45px
  &:after
    $w: 5px
    content: ''
    position: absolute
    top: 100%
    left: 50%
    margin-left: -$w
    width: 0
    height: 0
    border-top: solid $w $gray
    border-left: solid $w transparent
    border-right: solid $w transparent



.course-theory
  +white-block
  margin-top: 30px
  +br()
  padding: 50px


.course-theory-header,
.course-practice-header
  display: flex
  justify-content: space-between
  align-items: flex-end
  border-bottom: 1px solid $gray
  padding-bottom: 15px

.course-theory-header__left,
.course-practice-header__left
  font-size: 1.375rem
  color: $black-1

.course-theory-header__right,
.course-practice-header__right
  font-style: italic
  b
    font-weight: bold

.course-theory-header2
  margin-top: 20px
  display: flex
  justify-content: space-between
  align-items: center
.course-theory-header2__left
  font-weight: bold
  font-size: 1.125rem
  color: $black-1
.course-theory-header2-right__btn
  display: inline-block
  +nlt
    margin-right: 10px

.course-theory-description
  margin-top: 30px
  line-height: 1.7
  font-size: 1rem

.course-practice
  +white-block
  margin-bottom: 30px
  margin-top: 30px
  +br()
  padding: 50px

input.vue-file-upload
  display: none