@import "reset"
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i&amp;subset=cyrillic")

@import "../../../node_modules/font-awesome/scss/font-awesome"

@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables"
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins"
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid"


@import "variables"
@import "mixins"

@import "buy-course"
@import "index/section-1"
@import "index/target-section"
@import "index/section-3"
@import "index/section-price"
@import "index/section-subscribe"
@import "header"
@import "form"
@import "user"
@import "chat"
@import "footer"
@import "reviews"






*
  box-sizing: border-box
  padding: 0
  margin: 0
  outline: none

html, body
  width: 100%
  height: 100%

body
  font-size: 16px
  font-family: 'Open Sans', sans-serif


a
  color: $color-1
  &:hover
    text-decoration: none

.app
  position: relative
  height: 100%



.btn
  cursor: pointer
  display: inline-block
  text-decoration: none

.btn-big
  font-size: 1.3rem
  padding: 18px 35px
  .fa, .lnr
    margin-right: 10px
  +br($sbr)
.btn-normal
  +br($sbr)
  font-size: 1rem
  padding: 12px 22px
  .fa, .lnr
    margin-right: 7px
.btn-type-1
  transition: all 0.1s ease
  background: $color-1
  color: $white-1
  border: none
  &:hover
    background: darken($color-1, 8%)
    color: $white-1

.btn-type-2
  font-weight: lighter
  transition: all 0.1s ease
  color: $color-1
  box-sizing: border-box
  background: transparent
  border: 1px solid $color-1
  &:hover
    background: $color-1
    color: $white-1

.btn-type-2.btn-small
  border: 1px solid $color-1
  +br($sbr)
  font-size: .8rem
  padding: 10px 16px
  .fa, .lnr
    margin-right: 7px
  &.error
    border: 1px solid $color-error2
    color: $color-error2
    &:hover
      background: $color-error2
      color: $white-1

.btn-type-2.btn-medium
  border: 1px solid $color-1
  +br($sbr)
  font-size: 1rem
  padding: 12px 25px
  .fa, .lnr
    margin-right: 7px


.btn-type-1_black
  background: $black-1
  
.section
  padding-top:    70px
  padding-bottom: 70px


.section_gray
  background: $gray
.section_black
  background: $black-1
  color: $white-1
  .h3
    color: $white-1
.section_white
  background: $white-1
  color: $black-1
  .h3
    color: $black-1
.h3
  font-size: 2.5rem
  text-transform: uppercase
  text-align: center
  padding: 60px 0
  font-weight: lighter
  line-height: 1.5
  &:first-of-type
    padding-top: 0
.p
  font-size: 1.125rem
  line-height: 1.5
  +nlt
    margin-bottom: 20px
  b
    font-weight: bold
.p.center
  text-align: center
.ul
  margin-bottom: 20px
  margin-left: 30px
  li
    line-height: 1.5
    display: flex
    align-items: center
    +nlt
      margin-bottom: 10px
    span
      flex-grow: 1
      font-size: 1rem
    svg
      width:  20px
      height: 20px
      min-width: 20px
      min-height: 20px
      margin-right: 15px
      path
        fill: $color-1

.color-1
  color: $color-1


.container-mini
  width: 600px
  margin: auto


.alertify
  background-color: rgba(0,0,0,.6)
.alertify button
  outline: none
  border: none

.alertify .dialog > *
  +br($sbr)
.alertify .alert nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button):active, .alertify .alert nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button):hover, .alertify .dialog nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button):active, .alertify .dialog nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button):hover
  background: $color-1
  color: $white-1
.alertify .alert nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button), .alertify .dialog nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button)
  padding: 0 15px
  +br($sbr)
  background: lighten($black-1, 85%)
  transition: all 0.1s ease
  border: none
.alertify .alert nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button):focus, .alertify .dialog nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button):focus
  border: none



.plyr__control--overlaid, .plyr__control--overlaid
  background: $color-2
.plyr__control--overlaid:focus, .plyr__control--overlaid:hover
  background: $color-1
.plyr--full-ui input[type=range]
  color: $color-1

.plyr--video .plyr__controls .plyr__control.plyr__tab-focus, .plyr--video .plyr__controls .plyr__control:hover, .plyr--video .plyr__controls .plyr__control[aria-expanded=true]
  background: $color-1
.plyr__menu__container label.plyr__control input[type=radio]:checked+span
  background: $color-1


.broadcrumbs
  padding: 10px 0
.broadcrumbs-item
  display: inline-block
  a
    font-size: .8rem
    text-decoration: none
    color: $color-2
  span
    color: $gray-text
    font-size: .8rem
  +nlt
    &:after
      content: '-'
      padding: 0 5px
      display: inline-block

.a
  color: $color-1
  cursor: pointer
  text-decoration: underline
  &:hover
    text-decoration: none





.account
  .center
    width: 600px
    margin: auto
  form
    background: #f6f6f6
    padding: 20px
    +nlt
      margin-bottom: 50px
  h4
    font-weight: lighter
    font-size: 1.5rem
    color: #131313
    margin-bottom: 20px
  label
    font-weight: bold
    font-size: 1rem
    font-size: .8rem
    margin-bottom: 10px
    display: block
    color: $black-1
  input:not([type="submit"])
    background: white !important
    font-size: .8rem
  label.checkbox
      display: flex
      align-items: center
      position: relative
      color: #fff
      font-size: .9rem
      cursor: pointer
      &:before
        content: "\F10C"
        margin-right: 10px
        color: #bb64fe
        font: normal normal normal 14px/1 FontAwesome
  .field
    +nlt
      margin-bottom: 20px
    &.submit
      text-align: right
    .errors
      margin-top: 3px
      li
        color: red
        font-size: .7rem
.plyr__poster
  background-color: transparent
.scroll-to-top
  position: fixed
  right: 20px
  bottom: 20px
  height: 40px
  padding: 0 15px
  background: $color-1
  color: $white-1
  z-index: 999
  cursor: pointer
  display: flex
  justify-content: center
  align-items: center
  +br()
  opacity: .5
  transition: all .1s linear
  &:hover
    opacity: 1
.scroll-to-top__icon
  width: 15px
  height: 15px
  margin-right: 10px
  path
    fill: $white-1

@import "responce/responce"
